@import "./var.css";

* {
    color: var(--main-text-color);
}
body {
    background-color: var(--main-background-color);
    margin: 0;
}
h1 {
    margin: 0;
}
.header {
    text-align: center;
}
.header-heading {
    font-family: var(--header-font);
    font-size: 30px;
}
.header-heading h1 {
    margin: 20px 0px;
}
.header-info h3 {
    width: var(--header-info-width);
    background-color: var(--header-info-background-color);
    margin: var(--header-info-margin);
    border-radius: var(--main-border-radius);
    padding: 10px 0px;
}

.font-size-px50 {
    font-size: 40px;
}