:root {
    --main-background-color: #eeffdd;
    --main-text-color: #100020;
    --main-border-radius: 10px;
    --header-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --header-info-background-color: #ffab1970;
    --header-image-width: 200px;
    --footer-background-color: #4d97ff70;
    --main-box-shadow: ;
}
@media screen and (max-width: 650px) {
    :root {
        --header-info-width: calc(100% - 50px);
        --header-info-margin: 0px 25px 20px 25px;
    }
}
@media screen and (min-width: 650px) {
    :root {
        --header-info-width: 70%;
        --header-info-margin: 0px 15% 20px 15%;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-background-color: #100020;
        --main-text-color: #eeffdd;
    }
}