:root {
    --main-background-color: #000000;
    --main-text-color: #ffffff;
    --main-border-radius: 10px;
    --header-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --header-info-background-color: #ffab1970;
}